<section id="message-ctn">
    <div id="message-content" class="message-content">
        <div class="message-header">
            <span id="message-author" class="message-author"></span>
            <span id="message-created-time" class="message-created-time"></span>
            <div id="message-modified-time" class="message-modified-time"><span>modified at </span></div>
            <div id="message-deleted-time" class="message-deleted-time"><span>deleted at </span></div>
        </div>
        <div id="message-text" class="message-text">
        </div>
        <div id="message-reactions" class="message-reactions"></div>
        <div id="message-attachments" class="message-attachments">
            <div>Attachments:</div>
        </div>
    </div>
</section>
